<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>

    {{> head }}

  </head>
  <body ng-app="wordsApp">

    <div class="container" ng-controller="wordsAppController as vm">

      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron jumbotron-fluid">
            <h1 class="display-3">{{ site.page.title }}</h1>
            <p class="lead">{{ site.page.description }}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <p><a href="/auth/google" class="btn btn-primary">Login with Google</a></p>

        </div>
      </div>
    </div>

    {{> foot }}

  </body>
</html>
